{% extends 'base.html'%}
{% block title %} About Us {% endblock %}

{% block content %}
<div class = 'container'>

<h3>About Us</h3>
<br>
<p style="padding-left: 20%; padding-right: 20%;">This project was created for the 2025 UVA Women in Computing Sciences Hackathon, and the main purpose of this project is to help users learn more about ADA guidelines and identify ADA accessible areas in different locations. The creators of this website, Vivian, Niveen, and Miya, are currently students at the University of Virginia studying computer science. We hope you enjoy using this site!</p>

</div>
{% endblock %}