{% extends 'base.html'%}
{% block title %} About Us {% endblock %}

{% block content %}
<div class = 'container'>

<h3>Our Mission</h3>
<p style="padding-left: 5%; padding-right: 5%;">According to studies, a significant portion of public infrastructure remains non-compliant with Americans with Disabilities Act (ADA) standards, with estimates suggesting that around 65% of curb ramps and 48% of sidewalks are not accessible for people with disabilities. 
</p>
<p style="padding-left: 5%; padding-right: 5%;">One main reason for this issue is that some communities might not fully understand the extent of inaccessible infrastructure within their jurisdiction, leading to delayed improvements. This lack of compliance has significant ramifications, as it directly impacts individuals with disabilities, hindering their ability to navigate public spaces freely. 
</p>
<p style="padding-left: 5%; padding-right: 5%;">Our app aims to help communities and individuals learn more about ADA standards. Users can upload images, and our machine learning model will classify if the items present in the image are ADA accessible. Additionally, users can browse uploaded images to learn more about ADA accessible options at different locations. Currently, our model is trained on images from the University of Virginia, but in the future, this dataset could be expanded to encompass more locations within the Charlottesville area. 
</p>

</div>
{% endblock %}