{% extends 'base.html'%}
{% block title %} Dashboard {% endblock %}

{% block content %}
<div class = 'container'>

    <h3>Upload an image to see if it is ADA accessible or not!</h3>
    <br>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        {% if form.errors %}
        <ul class="error-list">
            {% for field, errors in form.errors.items %}
                {% for error in errors %}
                    <li style="color: red;">{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
        {% endif %}
        <button type="submit">Upload</button>
    </form>
    {{predictions}}

</div>

{% endblock %}