<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}ADA Accessibility App {% endblock %}</title>
    {% load static %}
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" 
      href="{% if request.session.color_scheme == 'colorblind' %}
                {% static 'ada_app/css/colorblind.css' %}
            {% else %}
                {% static 'ada_app/css/base_style.css' %}
            {% endif %}">
</head>
<body>

{% include 'navbar.html' %}

{% block content %}

{% endblock %}

{% include 'footer.html' %}
</body>
</html>